<div class="section" id="work">
	<div class="subsection" id="design">

	<h2>Design Work</h2>

	<h5><a title="Alan Koda Design Portfolio" href="http://www.alankoda.com/download.php?file=AlanKoda_DesignPortfolio2013.pdf" onClick="_gaq.push(['_trackEvent', 'Documents', 'Download', 'Portfolio']);">&rarr; Download my Visual Design Portfolio</a></h5>

	<h4>Filter by category:</h4>
		<nav class="filternav">
			<ul>
				<li class="interaction">Interaction</li>
				<li class="animation">Animation</li>
				<li class="logos">Logos</li>
				<li class="flyers">Promotional</li>
				<li class="webdesign">Web Design</li>
				<li class="personalprojects">Other Projects</li>
				<li class="all">view all</li>
			</ul>
		</nav>

	<div class="interaction">
		<h5>Interaction Design</h5>
	
		<iframe src="http://player.vimeo.com/video/34711001" width="500" height="331" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	
		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>

	</div>

	<div class="animation">
		<h5>Animation</h5>

		<iframe src="http://player.vimeo.com/video/34923304" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>

	</div>

	<div class="logos">
		<h5>Logos and Icons</h5>
		
			<img src="assets/images/Design/500/CATS_Logo_500.png" alt="CATS_Logo_500" width="500" height="231" />
			<img src="assets/images/Design/500/CATS_Icons_500.jpg" alt="CATS_Icons_500" width="500" height="252" />
	
			<img src="assets/images/Design/500/Sound%20Man%20Logo_500.png" alt="Sound%20Man%20Logo_500" width="500" height="211" />
		
			<img src="assets/images/Design/500/MMX%20logo-02_500.png" alt="MMX%20logo-02_500" width="500" height="237" />
		
			<!--
	<img src="assets/images/Design/500/AdventureToursPakistan_Logo_500.jpg" alt="AdventureToursPakistan_Logo_500" width="500" height="375" />
		
			<img src="assets/images/Design/500/AllBadges_500.jpg" alt="AllBadges_500" width="500" height="50" />
	-->
		
			<img src="assets/images/Design/500/claytoneproductions_500.jpg" alt="claytoneproductions_500" width="500" height="246" />
			<img src="assets/images/Design/200/claytone_proof_front_240.jpg" alt="claytone_proof_front_240" width="240" height="144" />
			<img src="assets/images/Design/200/claytone_proof_back_240.jpg" alt="claytone_proof_back_240" width="240" height="144" />
		
			<img src="assets/images/Design/500/STFLaw_reverseMedium_Titles_500.png" alt="STFLaw_reverseMedium_Titles_500" width="500" height="173" />
		
			<img src="assets/images/Design/500/PASOwhite_500.jpg" alt="PASOwhite_500" width="500" height="232" />
		
		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>

	</div>



	<div class="flyers">

		<h5>Promotional Materials</h5>
		
			<img style="float: left;" src="assets/images/Design/200/GAACC_popupbanner_262.jpg" alt="GAACC_popupbanner_200" width="262" height="618">
			<img src="assets/images/Design/200/TACC_Merger_200.png" alt="TACC_Merger_200" width="200" height="300">
			<img src="assets/images/Design/200/GAACC_Connect_Welcome_200.png" alt="GAACC_Connect_Welcome_200" width="200" height="300">
		
			<img src="assets/images/Design/500/YearoftheDragonred_500.jpg" alt="YearoftheDragonred_500" width="500" height="384" />
		
			<img src="assets/images/Design/200/RCC_Flyer_ver2_recolor_253.jpg" alt="RCC_Flyer_ver2_recolor_253" width="253" height="317">
			<img src="assets/images/Design/200/BITpartscover_futzed_226.jpg" alt="BITpartscover_futzed_226" width="226" height="317">
		
			<img src="assets/images/Design/500/GoldenSpeakerFlyer3_500.jpg" alt="GoldenSpeakerFlyer3_500" width="500" height="250" />
		
			<img src="assets/images/Design/500/TutoringBulletin_500.jpg" alt="TutoringBulletin_500" width="500" height="281" />
													
		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>
	
	</div>


	<div class="webdesign">						
		<h5>Web Design</h5>
	
			<p class="beta">*My current lightbox plugin isn't playing nice with jQuery.  For now, clicking on web screenshots will open a larger version in a separate window.*</p>
		
			<h3><em>Claytone</em> Website Concept</h3>
			<h4><a href="http://www.claytoneproductions.com/">www.claytoneproductions.com</a></h4>
			<a class="lightbox" href="assets/images/Design/ClayTone_frontpage.jpg" target="_blank"><img src="assets/images/Design/500/ClayTone_frontpage_500.jpg" alt="ClayTone_frontpage_500" width="500" height="386" /></a>
		
			<h3><em>Corey Critser Photography</em> Concept and Design</h3>
			<h4><a href="http://coreycritser.alankoda.com/">coreycritser.alankoda.com</a> (prototype build)</h4>
		
			<a class="lightbox" href="assets/images/Design/500/cnc_wireframe_home_500.jpg" rel="cncphoto" target="_blank"><img src="assets/images/Design/200/cnc_wireframe_home_240.jpg" alt="cnc_wireframe_home_240" width="240" height="176" /></a>
			<a class="lightbox" href="assets/images/Design/500/cnc_wireframe_about2_500.jpg" rel="cncphoto" target="_blank"><img src="assets/images/Design/200/cnc_wireframe_about2_240.jpg" alt="cnc_wireframe_about2_240" width="240" height="176" /></a>				
			<a class="lightbox" href="assets/images/Design/500/cnc_workmenu_500.jpg" rel="cncphoto" target="_blank"><img src="assets/images/Design/200/cnc_workmenu_240.jpg" alt="cnc_workmenu_240" width="240" height="214" /></a>
			<a class="lightbox" href="assets/images/Design/500/cnc_weddingpage_500.jpg" rel="cncphoto" target="_blank"><img src="assets/images/Design/200/cnc_weddingpage_240_crop.jpg" alt="cnc_weddingpage_240_crop" width="240" height="214" /></a>
			<a class="lightbox" href="assets/images/Design/500/cnc_musicpage1_500.jpg" rel="cncphoto" target="_blank"><img src="assets/images/Design/200/cnc_musicpage1_240_crop.jpg" alt="cnc_musicpage1_240_crop" width="240" height="214" /></a>
			<a class="lightbox" href="assets/images/Design/500/cnc_musicpage_500.jpg" rel="cncphoto" target="_blank"><img src="assets/images/Design/200/cnc_musicpage_240_crop.jpg" alt="cnc_musicpage_240_crop" width="240" height="214" /></a>
		
			<h3><em>Merrill Benfield Interior Design</em> Concept and Design</h3>
		
			<a class="lightbox" href="assets/images/Design/500/MB_sketch4_home_500.jpg" rel="merrill" target="_blank"><img src="assets/images/Design/200/MB_sketch4_home_240.jpg" alt="MB_sketch4_home_240" width="240" height="170" /></a>
			<a class="lightbox" href="assets/images/Design/500/MB_sketch4_about_500.jpg" rel="merrill" target="_blank"><img src="assets/images/Design/200/MB_sketch4_about_240.jpg" alt="MB_sketch4_about_240" width="240" height="170" /></a>
			<a class="lightbox" href="assets/images/Design/500/MB_sketch4_designsub_500.jpg" rel="merrill" target="_blank"><img src="assets/images/Design/200/MB_sketch4_designsub_240.jpg" alt="MB_sketch4_designsub_240" width="240" height="170" /></a>
			<a class="lightbox" href="assets/images/Design/500/MB_sketch4_shop_500.jpg" rel="merrill" target="_blank"><img src="assets/images/Design/200/MB_sketch4_shop_240.jpg" alt="MB_sketch4_shop_240" width="240" height="170" /></a>
			<a class="lightbox" href="assets/images/Design/500/MB_sketch4_press_500.jpg" rel="merrill" target="_blank"><img src="assets/images/Design/200/MB_sketch4_press_240.jpg" alt="MB_sketch4_press_240" width="240" height="170" /></a>
			<a class="lightbox" href="assets/images/Design/500/MB_sketch4_contact_500.jpg" rel="merrill" target="_blank"><img src="assets/images/Design/200/MB_sketch4_contact_240.jpg" alt="MB_sketch4_contact_240" width="240" height="170" /></a>

			
			<h3>Personal Website, Original Flash Concept</h3>
			<a class="lightbox" href="assets/images/Design/flashwebsite-01.jpg" rel="akflash" target="_blank"><img src="assets/images/Design/200/flashwebsite-01_240.jpg" alt="flashwebsite-01_240" width="240" height="180" /></a>
			<a class="lightbox" href="assets/images/Design/flashwebsite-02.jpg" rel="akflash" target="_blank"><img src="assets/images/Design/200/flashwebsite-02_240.jpg" alt="flashwebsite-02_240" width="240" height="180" /></a>
			<a class="lightbox" href="assets/images/Design/flashwebsite-03.jpg" rel="akflash" target="_blank"><img src="assets/images/Design/200/flashwebsite-03_240.jpg" alt="flashwebsite-03_240" width="240" height="180" /></a>
			<a class="lightbox" href="assets/images/Design/flashwebsite-04.jpg" rel="akflash" target="_blank"><img src="assets/images/Design/200/flashwebsite-04_240.jpg" alt="flashwebsite-04_240" width="240" height="180" /></a>
			<a class="lightbox" href="assets/images/Design/flashwebsite-05.jpg" rel="akflash" target="_blank"><img src="assets/images/Design/200/flashwebsite-05_240.jpg" alt="flashwebsite-05_240" width="240" height="180" /></a>
		
			<p>You can also check out my <a href="http://oldsite.alankoda.com">original site</a>, as well as another work in progress, <a href="http://seanflynn.alankoda.com">The Law Office of Sean T. Flynn</a>.</p>
								
		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>

	</div>


	<div class="personalprojects">
		
		<h5>Other Projects</h5>
	
			<h3>Artwork concept for <em>Christmas on Neptune</em> children's book</h3>
			<img src="assets/images/Design/500/XmasNept_BG_500.jpg" alt="XmasNept_BG_500" width="500" height="327" />
	
			<h3>Artwork for <a title="Blue Goggles Films" href="http://www.bluegogglesfilms.com">Blue Goggles</a>/<a title="De-Pixelated on Gametrailers" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a> original songs</h3>
			<img src="assets/images/Design/200/Disco_Normandy_artwork_200.jpg" alt="Disco Normandy" width="200" height="200" />
			<img src="assets/images/Design/200/Way_of_the_Foam_200.jpg" alt="Way of the Foam" width="200" height="200" />
			<img src="assets/images/Design/200/The_Nephalem_200.jpg" alt="The Nephalem" width="200" height="200" />
	
			<h3>Illustrator design/Photoshop texturing</h3>
			<img src="assets/images/Design/500/bgtexturingtest_500.jpg" alt="bgtexturingtest_500" width="500" height="647" />
		
			<h3>Illustrator vector</h3>
			<img src="assets/images/Design/500/Sextapus_500.jpg" alt="Sextapus_500" width="500" height="853" />
		
			<h3>Photoshop color correction and compositing (fictional book)</h3>
			<img src="assets/images/Design/500/jennsunlightbookpub_500.jpg" alt="jennsunlightbookpub_500" width="500" height="648" />
		
			<!--
	<h3>Photoshop color correction and type layout</h3>
			<img src="assets/images/Design/200/stephenreading_200.jpg" alt="stephenreading_200" width="200" height="150" />
			<h4>Original photo</h4>
			<img src="assets/images/Design/500/stephennewspaper_500.jpg" alt="stephennewspaper_500" width="500" height="481" />
			<h4>Final composite</h4>
	-->
			<h3>Title design (fictional film)</h3>
			<h4>photography by <a title="Control Images" href="http://controlimages.com/">Control Images</a></h4>
			<img src="assets/images/Design/SoundandFuryPoster.jpg" alt="SoundandFuryPoster" width="422" height="634" />
		
			<h3>Image filtering and titles (fictional film )</h3>
			<img src="assets/images/Design/500/TheDressingRoom_500.jpg" alt="TheDressingRoom_500" width="500" height="644" />

	</div>
</div>