<div class="section" id="work">
	<div class="subsection" id="design">

	<h2>Design</h2>

	<h5><a title="Alan Koda Design Portfolio" href="http://www.alankoda.com/download.php?file=AlanKoda_DesignPortfolio2013.pdf" onClick="_gaq.push(['_trackEvent', 'Documents', 'Download', 'Portfolio']);">&rarr; Download my Visual Design Portfolio</a></h5>

	<h4>Filter by category:</h4>
		<nav class="filternav">
			<ul>
				<li class="interaction">Interaction</li>
				<li class="animation">Animation</li>
				<li class="logos">Logos</li>
				<li class="flyers">Promotional</li>
				<li class="webdesign">Web Design</li>
				<li class="personalprojects">Other Projects</li>
				<li class="all">view all</li>
			</ul>
		</nav>

		<% @works.each do |work| %>
			<% if work.av == "design" %>
				<%= render partial: "works/work_entry", locals: { work: work }%>
			<% end %>
	    <% end %>
	
		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>
	</div>	
</div>