<div class="section" id="work">
	<div class="subsection" id="films">

		<h2>Sound</h2>		
	
		<h4>Filter by category:</h4>
	
		<nav class="filternav">
			<ul>
				<li class="production">Production</li>
				<li class="post">Postproduction</li>
				<li class="composition">Composition</li>
				<li class="withvideo">With video</li>
				<br />
				<li class="withawards">With awards</li>
				<li class="depixelated">De-pixelated</li>
				<li class="bitparts">BIT Parts</li>
				<li class="all">view all</li>
			</ul>
		</nav>
	
	
		<h1 class="year">2012</h1>
	
		<div class="bitparts production post composition withvideo">
			<h3><a title="BIT Parts" href="http://www.youtube.com/playlist?list=PLdD-g4FZOu3XXEZBHHNTdEL59g0hhQBiQ&feature=plcp"><em>BIT Parts</em></a>, web series</h3>
			<h4>produced by <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Boom operator, composer, dialogue editor, mixer</h4>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/IkOu-8qjgD8?list=PLdD-g4FZOu3XXEZBHHNTdEL59g0hhQBiQ&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="depixelated production post withvideo">
			<h3><em>De-Pixelated: Assassin's Creed</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Boom operator, dialogue editor, music editor, mixer</h4>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/wJI0BBDp6CI" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="depixelated production post withvideo">
			<h3><em>De-Pixelated: Borderlands</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Boom operator, effects editor, music editor, mixer</h4>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/beZD9UBX0zk" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="depixelated production post composition withvideo">
			<h3><em>De-Pixelated: Super Smash Bros. Brawl</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Boom operator, composer, effects editor, mixer</h4>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/P5kttOQ5rEQ" frameborder="0" allowfullscreen></iframe>
			<h4>Original song from credits:</h4>
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F58970457&show_artwork=true"></iframe>
		</div>
	
		<div class="depixelated post composition withvideo">
			<h3><em>De-Pixelated: Viva Piñata</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Composer, music editor, effects editor, mixer</h4>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/CNnhUdFoyVI" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="depixelated production post composition withvideo">
			<h3><em>De-Pixelated:  Diablo 3</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Location mixer, boom operator, composer, music editor, effects editor, mixer</h4>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/nafB1q8898I" frameborder="0" allowfullscreen></iframe>
			<h4>Original song from credits:</h4>
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F50037658&show_artwork=true"></iframe>
		</div>
	
		<div class="depixelated production post composition withvideo">
			<h3><em>De-Pixelated:  Max Payne 3</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Boom operator, composer, music editor, effects editor, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Max Payne 3']);" width="512" height="288" src="http://www.youtube.com/embed/OXNKCgdJWXU" frameborder="0" allowfullscreen></iframe>
			<h4>Original song from video:</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Audios', 'Play', 'Way of the Foam']);" width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F46316182&show_artwork=true"></iframe>
		</div>
	
		<div class="depixelated production post composition withvideo">
			<h3><em>De-Pixelated:  Operation Raccoon City</em>, web short</h3>
			<h4><a title="De-Pixelated" href="http://www.gametrailers.com/shows/de-pixelated">De-Pixelated</a>, web series</h4>	
			<h4>produced by <a title="GameTrailers" href="http://www.gametrailers.com/">GameTrailers</a> and <a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>	
			<h4>Boom operator, composer, dialogue and ADR recordist, Foley recordist, effects editor, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Operation Raccoon City']);" width="512" height="288" src="http://www.youtube.com/embed/5ufB9LDfYc8" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="composition withvideo">
			<h3><em>Safety Bling!</em>, CATS bike safety video</h3>
			<h4><a title="BikeTexas" href="http://www.biketexas.org/">BikeTexas</a></h4>
			<h4>Sound branding ("Bike Bells" intro)</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Safety Bling!']);" width="512" height="288" src="http://www.youtube.com/embed/QOR_RhVyTJ4" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="production post composition withvideo">
			<h3><em>Mass Effect: Secret Crew Romance</em>, web short</h3>
			<h4><a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>
			<h4>Boom operator, composer, dialogue recordist, effects editor, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Mass Effect: Secret Crew Romance']);" width="512" height="288" src="http://www.youtube.com/embed/kYVqmIWOk5k" frameborder="0" allowfullscreen></iframe>
			<h4>Original song from video:</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Audios', 'Play', 'Disco Normandy']);" width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F38977419&show_artwork=true"></iframe>
		</div>
	
		<div class="production post composition withvideo">
			<h3><em>Twisted Metal: Be Mine</em>, web short</h3>
			<h4><a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>
			<h4>Boom operator, composer, foley recordist, effects editor, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Twisted Metal: Be Mine']);" width="512" height="290" src="http://www.youtube.com/embed/npHTJj7DBiA" frameborder="0" allowfullscreen></iframe>
			<h4>Original songs from video:</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Audios', 'Play', 'Quench My Fire']);" width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F36645788&show_artwork=true"></iframe>
			<iframe onClick="_gaq.push(['_trackEvent', 'Audios', 'Play', 'Quench My Fire (I SKREEM version)']);" width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F36691785&show_artwork=true"></iframe>
		</div>
	
		<div class="production">
			<h3><em>Year of the Dragon Soirée</em>, organization event</h3>
			<h4><a title="Texas Asian Chamber of Commerce" href="http://www.txasianchamber.org/">Texas Asian Chamber of Commerce</a></h4>
			<h4>Live venue sound</h4>
		</div>
	
		<div class="production post composition withvideo">
			<h3><em>Skyrim Intervention</em>, web short</h3>
			<h4><a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>
			<h4>Boom operator, composer, foley recordist, effects editor, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Skyrim Intervention']);" width="512" height="290" src="http://www.youtube.com/embed/sgAYYYtouRE" frameborder="0" allowfullscreen></iframe>
		</div>
							
		<div class="production">
			<h3>Promotional Interviews</h3>
			<h4><a title="BikeTexas" href="http://www.biketexas.org/">BikeTexas</a></h4>
			<h4>Boom operator</h4>
		</div>
	
		<div class="composition post withvideo">
			<h3><em>Allure Energy Saving Tips</em>, animated video content for smart thermostat</h3>
			<h4><a title="Allure Energy" href="http://www.allure-energy.com/">Allure Energy, Inc.</a></h4>
			<h4><a title="Engadget: Allure Energy EverSense energy management system hands-on" href="http://www.engadget.com/2012/01/08/allure-energy-eversense-energy-management-system-hands-on/">Engadget's first hands-on look at CES</a></h4>
			<h4>Composer, sound branding, narrator</h4>
			<iframe src="http://player.vimeo.com/video/34923304?badge=0" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	
	
		<p class="backtotop"><a href="#">&uarr; back to top</a></p>
		<h1 class="year">2011</h1>
	
		<div class="production post composition withvideo">
			<h3><em>A Very Arkham City Christmas</em>, web short</h3>
			<h4><a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>
			<h4>Boom operator, composer, foley recordist, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'A Very Arkham City Christmas']);" width="512" height="290" src="http://www.youtube.com/embed/25zEr7dxQZ0" frameborder="0" allowfullscreen></iframe>
			<h4>Original song from video:</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Audios', 'Play', 'Christmastime in the City']);" width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F31155523&show_artwork=true"></iframe>
		</div>
	
		<div class="production post">
			<h3><em>Office Rehab</em>, short film</h3>
			<h4><a title="Office Rehab" href="http://www.kickstarter.com/projects/mediajuicestudios/office-rehab/">www.kickstarter.com/projects/mediajuicestudios/office-rehab</a></h4>
			<h4><a title="Mediajuice Studios" href="http://www.mediajuicestudios.com/">Mediajuice Studios</a></h4>
			<h4>Boom operator, effects editor, mixer</h4>
		</div>
	
		<div class="production post">
			<h3><em>BIT Parts</em>, web series pilot</h3>
			<h4><a title="Blue Goggles Films" href="http://bluegogglesfilms.com/">Blue Goggles Films</a></h4>
			<h4>Boom operator, effects editor, foley recordist, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'BIT Parts']);" width="512" height="290" src="http://www.youtube.com/embed/AVSRHw015Hs" frameborder="0" allowfullscreen></iframe>
		</div>
	
		<div class="post">
			<h3><em>Flashbulb</em>, animated short film</h3>
			<h4>Sound supervisor, effects editor, foley artist, mixer</h4>
		</div>
	
		<div class="production post">
			<h3><em>The Space Jockey Pursuit</em>, independent film</h3>
			<h4><a title="The Space Jockey Pursuit" href="http://www.thespacejockeypursuit.com/">www.thespacejockeypursuit.com</a></h4>
			<h4>Boom operator, effects editor, sound co-supervisor, foley artist, foley engineer, music supervisor (pending)</h4>
		
			<h6><a title="The Space Jockey Pursuit Behind-the-Scenes" href="https://vimeo.com/spacejockey">'Behind-the-scenes' webisodes</a></h6>
			<h4>Mixer</h4>
		</div>
	
		<div class="post">
			<h3><em>Downturn</em>, short film</h3>
			<h4><a title="Rodney Lee Rogers website" href="http://www.rodneyleerogers.com/">Rodney Lee Rogers</a></h4>
			<h4>Effects editor</h4>
		</div>
	
		<div class="post">
			<h3><em>Last Gasp</em>, student film, SCAD</h3>
			<h4>Effects editor, mixer</h4>
		</div>
	
		<div class="production post withvideo withawards">
			<h3><em>Greg Prime</em>, student web series, SCAD</h3>
			<h4><a title="Greg Prime via Indiegogo" href="http://www.indiegogo.com/Greg-PRIME/">www.indiegogo.com/Greg-PRIME</a></h4>
			<h4>Production mixer, boom operator, foley engineer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Greg Prime']);" src="http://player.vimeo.com/video/26171397?title=0&amp;byline=0&amp;portrait=0" width="512" height="287" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
				<ul><li>Nominated for Best Sound, 2011 SCADemy Undergraduate Awards</li></ul>
		</div>
	
		<div class="post withawards">
			<h3><em>Secret Number</em>, student film, SCAD</h3>
			<h4><a title="Secret Number" href="http://secretnumber.colinlevy.com/">secretnumber.colinlevy.com</a></h4>
			<h4>Foley engineer</h4>
				<ul>
					<li>Nominated for for Verna Fields Award, 2012 MPSE Golden Reel Awards</li>
					<li>Won Best Sound, 2011 SCADemy Undergraduate Awards
					<ul><li>Also won Best Director, Best Costume Design, Best Picture</li></ul></li>
				</ul>
		</div>
	
		<div class="production post">	
			<h3><em>The Sun’s Leggings</em>, student film, SCAD</h3>
			<h4><a title="The Sun's Leggings" href="http://www.thesunsleggings.com/">www.thesunsleggings.com</a></h4>
			<h4>Production mixer, boom operator, sound supervisor, effects editor, foley engineer</h4>
		</div>
	
		<div class="production">
			<h3><em>4th Street</em>, student film, SCAD</h3>
			<h4>Production mixer, boom operator</h4>
		</div>
	
	
		<p class="backtotop"><a href="#">&uarr; back to top</a></p>
		<h1 class="year">2010</h1>
	
		<div class="production post">
			<h3><em>Falling Makes You Blue/I Want it Back</em>, music videos for The Bloodsugars</h3>
			<h4><a title="The Bloodsugars" href="http://www.thebloodsugars.com/">www.thebloodsugars.com</a></h4>
			<h4>Boom operator, utility sound, effects editor</h4>
		</div>
	
		<div class="production">
			<h3><em>Blue Bitch</em>, student project, SCAD</h3>
			<h4>Boom operator</h4>
		</div>
	
		<div class="post withawards">	
			<h3><em>The Girl and the Fox</em>, student animated film, SCAD</h3>
			<h4><a title="Base14" href="http://base14.com/">Base14</a></h4>
			<h4>Sound supervisor, effects editor, foley artist, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'The Girl and the Fox']);" src="http://player.vimeo.com/video/43332921" width="512" height="213" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<ul>
					<li>Finalist for 2011 Student Academy Awards</li>
					<li>2nd Place in Animation, 2011 College Television Awards</li>
					<li>Recipient of 2011 Geena Davis Award for Diversity and Gender Equality in Children’s Media</li>
					<li>Official Selection, Palm Springs International Shortfest</li>
					<li>Nominee for Best Short Subject, 2012 Annie Awards</li>
					<li>Excellence in Design, 2012 ASIFA-East Awards</li>
				</ul>
		</div>	
	
		<div class="composer withvideo">
			<h3><em>CoMotion</em>, student symposium, SCAD</h3>
			<h4>Titles composer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'CoMotion']);" src="http://player.vimeo.com/video/11966861?title=0&amp;byline=0&amp;portrait=0" width="512" height="287" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
		</div>
	
		<div class="production post">	
			<h3><em>Bring On the Wonder</em>, student film, SCAD</h3>
			<h4>Boom operator, sound supervisor, effects editor, dialogue editor, foley engineer, mixer</h4>
		</div>
	
		<div class="production post withawards">	
			<h3><em>Inkblots</em>, student film, SCAD</h3>
			<h4><a title="Inkblots" href="http://inkblotsfilm.blogspot.com/">inkblotsfilm.blogspot.com</a></h4>
			<h4>Boom operator, effects editor</h4>
				<ul>
					<li>Official Selection, 2010 Route 66 International Film Festival</li>
					<li>Official Selection, 2011 Beloit International Film Festival</li>
					<li>Official Selection, 2011 Macon Film Festival</li>
					<li>Won Best Actress, 2010 SCADemy Undergraduate Awards
						<ul><li>Also nominated for Best Director, Best Picture, Best Original Screenplay, Best Cinematography, Best Sound Design, Best Production Design, Best Visual Effects, and Best Costume Design</li></ul></li>
					<li>Recipient of FotoKem Grant</li>
					<li>Recipient of Kodak Student Filmmaker’s Grant</li>
				</ul>
		</div>
	
		<div class="post withvideo withawards">	
			<h3><em>Crowded Company</em>, student film, SCAD</h3>
			<h4>Effects editor</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Crowded Company']);" src="http://player.vimeo.com/video/25137135?byline=0&amp;portrait=0" width="512" height="287" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
				<ul>
					<li>Won Best Director, 2010 SCADemy Graduate Awards
					<ul><li>Also nominated for Best Graduate Narrative Film, Best Sound Design, and Best Production Design</li></ul></li>
					<li>Official Selection for Student Filmmakers Section, 2010 Savannah Film Festival</li>
				</ul>
		</div>		
	
	
		<div class="production">	
			<h3><em>The Long Road</em>, short film</h3>
			<h4><a title="More Chi Black Mountain Productions" href="http://morechiblackmountain.com/">More Chi Black Mountain Productions</a></h4>
			<h4>Boom operator</h4>
		</div>
	
		<div class="post withvideo withawards">	
			<h3><em>Makeshift</em>, student film, SCAD</h3>
			<h4><a title="Makeshift" href="http://vimeo.com/21724409">vimeo.com/21724409</a></h4>
			<h4>Sound supervisor, effects editor, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Makeshift']);" src="http://player.vimeo.com/video/21724409?title=0&amp;byline=0&amp;portrait=0" width="512" height="287" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
				<ul><li>Finalist for 2010 Coca-Cola Refreshing Filmmaker’s Award</li></ul>
		</div>
	
		<div class="production">	
			<h3><em>Life of Crime</em>, student film, SCAD</h3>
			<h4>Production mixer</h4>
		</div>
	
		<div class="production post">	
			<h3><em>Queen of the Sea</em>, student film, SCAD</h3>
			<h4>Production mixer, boom operator, sound supervisor, dialogue editor, foley artist, music editor, mixer</h4>
		</div>
	
		<div class="production">	
			<h3><em>Bout</em>, student film, SCAD</h3>
			<h4>Boom operator</h4>
		</div>
	
		<div class="production">	
			<h3><em>Taming the Kitchen</em>, student film, SCAD</h3>
			<h4>Boom operator</h4>
		</div>
	
		<div class="production">	
			<h3><em>Spare Room</em>, student film, SCAD</h3>
			<h4>Boom operator</h4>
		</div>
	
		<div class="production post withvideo withawards">	
			<h3><em>En Route</em>, student film, SCAD</h3>
			<h4><a title="En Route" href="http://enroute.colinlevy.com">enroute.colinlevy.com</a></h4>
			<h4>Production mixer, effects editor</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'En Route']);" width="512" height="380" src="http://www.youtube.com/embed/3xzI8wdyt38" frameborder="0" allowfullscreen></iframe>
				<ul>
					<li>Nominated for Verna Fields Award, 2011 MPSE Golden Reel Awards</li>
					<li>Official Selection for Student Filmmakers Section, 2010 Savannah Film Festival</li>
					<li>Won Savannah Film Commission Award</li>
					<li>Won Panavision Student Cinematography Award</li>
					<li>Won Silver Screen Society Filmmaker Award</li>
					<li>Won Best Graduate Narrative Film and Best Visual Effects, 2010 SCADemy Graduate Awards</li>
					<li>Also nominated for Best Cinematography, Best Sound Design, and Best Production Design</li>
				</ul>
		</div>
	
	
		<p class="backtotop"><a href="#">&uarr; back to top</a></p>
		<h1 class="year">2009</h1>
	
		<div class="post withawards">	
			<h3><em>Atrophy</em>, student film, SCAD</h3>
			<h4>Sound supervisor, foley engineer, effects editor, mixer</h4>
				<ul><li>Nominated for Best Sound Design, Graduate Film, 2010 SCADemy Awards</li></ul>
		</div>
	
		<div class="post">	
			<h3>Public service announcements, Clean Coast</h3>
			<h4>Effects editor</h4>
		</div>
	
		<div class="production">	
			<h3><em>Robot and Ghost</em>, student film, SCAD</h3>
			<h4>Production mixer, boom operator</h4>
		</div>
	
		<div class="production post">	
			<h3><em>Frozen</em>, student film, SCAD</h3>
			<h4>Utility sound, sound design</h4>
		</div>
	
		<div class="production">	
			<h3><em>My Way</em>, student film, SCAD</h3>
			<h4>Production mixer, boom operator</h4>
		</div>
	
		<div class="production post">	
			<h3><em>Pick Up</em>, student film, SCAD</h3>
			<h4>Production mixer, boom operator, effects editor, music editor, dialogue editor, mixer</h4>
		</div>
	
		<div class="post">	
			<h3><em>Birds</em>, student animated film, SCAD</h3>
			<h4>Effects editor</h4>
		</div>
	
		<div class="post">	
			<h3><em>Baker Acted</em>, student film, SCAD</h3>
			<h4>Dialogue editor</h4>
		</div>
	
		<div class="production">	
			<h3><em>The Boys at Brunner Lake</em>, student film, SCAD</h3>
			<h4>Boom operator, utility sound</h4>
		</div>
	
		<div class="post withvideo withawards">	
			<h3><em>Duck Heart Teslacoil</em>, student animated film, SCAD</h3>
			<h4><a title="Base14" href="http://base14.com/">base14.com</a></h4>
			<h4>Effects editor, foley engineer, mixer</h4>
			<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Duck Heart Teslacoil']);" src="http://player.vimeo.com/video/6636322?title=0&amp;byline=0&amp;portrait=0" width="512" height="287" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
				<ul>
					<li>Won Saturday Audience Choice Award for Animation, and Honorary Mention for Student Animation, Smogdance Film Festival</li>
					<li>Official Selection, 2010 Best of Animation Block Party</li>
					<li>2nd Place for Student Reel Awards, Animation Magazine</li>
				</ul>
		</div>
	
		<div class="production post">	
			<h3><em>Planting Friends</em>, student film, SCAD</h3>
			<h4>Production mixer, boom operator, sound design</h4>
		</div>
	
	
		<p class="backtotop"><a href="#">&uarr; back to top</a></p>
		<h1 class="year">2008</h1>
	
		<div class="composition">	
			<h3><em>Blue Shift</em>, student film, UNT</h3>
			<h4>Composer</h4>
		</div>
	
	
		<p class="backtotop"><a href="#">&uarr; back to top</a></p>
		<h1 class="year">2007</h1>
	
		<div class="production post">
			<h3><em>Deception</em>, student film, UNT</h3>
			<h4>Production mixer, boom operator, utility sound, dialogue editor, mixer</h4>
		</div>
	
	</div>
</div>