<div class="section" id="work">
	<div class="subsection" id="software">

		<h2>Software</h2>
	
		<p><a title="Cycling '74" href="http://www.cycling74.com/">Max/MSP</a> is a visual programming language.  It's like code, but with objects and patch cables and sliders where brackets and semicolons usually are.  I've used Max/MSP for the past three years to develop concepts to bridge the gap between audio and video.  Check back for updates soon.</p>
	
		<h3><em>Motion Music</em> (in conjunction with Stephen Fortunato)</h3>
		<h4>Motion-based Mixing</h4>
		<h4><a title="Sound Art Showcase 2011: Stephen Fortunato" href="http://facultypages.scad.edu/~aruschko/SoundArtWebsite/Stephen%20Fortunato.html/">SCAD Sound Art Showcase 2011</a></h4>
		<p>Uses motion detection to dynamically mix tracks in an audio file; more motion causes more tracks to sound.</p>

		<h3><em>Ambience</em></h3>
		<h4>Reactive Audiovisual Stimulus</h4>
		<%= image_tag("Ambience1_500.png", alt: "Ambience Screenshot") %>
		<p>A field of color squares and a set of oscillators are driven by a semi-random algorithm.  Both visual and aural stimulus are dynamically altered via detection of motion, ambient light, and color.  The squares more or less reflect the averaged color of the camera's input.  Intended as a sort of reactive wall art.</p>
		<h4><a title="Ambience download" href="http://www.alankoda.com/AlanKoda_ambience.zip" onClick="_gaq.push(['_trackEvent', 'Apps', 'Download', 'Ambience']);">Download 'Ambience' (standalone Mac app)</a></h4>

		<h3><em>Video Organ</em> (in conjunction with Stephen Fortunato)</h3>

		<h3><em>SeeqTrem</em></h3>
		<h4>Multistage Amplitude Manipulation</h4>
		<%= image_tag("SeeqTrem2_500.png", alt: "SeeqTrem Screenshot") %>
		<p>Inspired by the ZVex SeekTrem &mdash; using either a file or microphone input, generates custom tremolo effects, stepping sequentially through 2 to 8 level controls.</p>
		<h4><a title="SeeqTrem download" href="http://www.alankoda.com/AlanKoda_seeqtrem.zip" onClick="_gaq.push(['_trackEvent', 'Apps', 'Download', 'SeeqTrem']);">Download 'SeeqTrem' (standalone Mac app)</a></h4>

		<h3><em>VideoDrums</em></h3>
		<h4>Musical Video Sequencing</h4>
		<h4><a title="Sound Art Showcase 2010: Alan Koda" href="http://facultypages.scad.edu/~aruschko/SoundArtWebsite/Alan%20Koda.html/">SCAD Sound Art Showcase 2010</a></h4>
		<%= image_tag("Videodrums1_500.png", alt: "Videodrums Screenshot 1") %>
		<%= image_tag("Videodrums2_500.png", alt: "Videodrums Screenshot 2") %>
		<p>Uses an 808-style step sequencer to drive the playhead of a video; the video (and its audio) is 'played' like a sequenced instrument.  Keyboard shortcuts allow the user multiple options during play for DJ-style live manipulation.  Markers can also be placed on the fly for instant recall of any point in the video.</p>
			<ul><li>Won 1st Place for Sound Art, 2010 CoMotion Contest</li></ul>
		<h4><a title="VideoDrums download" href="http://www.alankoda.com/AlanKoda_videodrums.zip" onClick="_gaq.push(['_trackEvent', 'Apps', 'Download', 'VideoDrums']);">Download 'VideoDrums' (standalone Mac app)</a></h4>
	</div>
</div>