<div class="section" id="work">
	<div class="subsection" id="films">

		<h2>Sound</h2>		
	
		<h4>Filter by category:</h4>
	
		<nav class="filternav">
			<ul>
				<li class="production">Production</li>
				<li class="post">Postproduction</li>
				<li class="composition">Composition</li>
				<li class="withvideo">With video</li>
				<br />
				<li class="withawards">With awards</li>
				<li class="depixelated">De-pixelated</li>
				<li class="bitparts">BIT Parts</li>
				<li class="all">view all</li>
			</ul>
		</nav>
	
		<% @works.each do |work| %>
			<% if work.av == "sound" %>
				<%= render partial: "works/work_entry", locals: { work: work }%>
			<% end %>
	    <% end %>
	
		<p class="backtotop designbacktotop"><a href="#">&uarr; back to top</a></p>

	</div>
</div>