<div class="subsection" id="awards">

	<h2>Awards and Recognition</h2>
	
	<h3>Nominee for <em>Verna Fields Award in Sound Editing for Student Filmmakers</em> for Secret Number (student film)</h3>
	<p>Golden Reel Awards, Motion Picture Sound Editors, 2012</p>
	
	<h3>Nominee for <em>Verna Fields Award in Sound Editing for Student Filmmakers</em> for En Route (student film)</h3>
	<p>Golden Reel Awards, Motion Picture Sound Editors, 2011</p>

	<h3>Nominee for <em>Student Academy Award</em> for The Girl and the Fox (student film)</h3>
	<p>Academy of Motion Picture Arts and Sciences, 2011</p>

	<h3><em>Outstanding Achievement Award</em></h3>
	<p>Sound Design department, Savannah College of Art and Design, 2011</p>
	
	<h3><em>Artistic Achievement Award for an Outstanding Body of Work</em></h3>
	<p>SCADemy Awards, Savannah College of Art and Design, 2010</p>

	<h3>Nominee <em>for Best Sound</em> for Atrophy (student film)</h3>
	<p>SCADemy Awards, Savannah College of Art and Design, 2010</p>
	
	<h3>Nominee for <em>Best Sound</em> for En Route (student film)</h3>
	<p>SCADemy Awards, Savannah College of Art and Design, 2010</p>
	
	<h3><em>1st Place, Sound Art Category for</em> Videodrums (interactive work)</h3>
	<p>CoMotion Student Contest, Savannah College of Art and Design, 2010</p>
	
</div>