<div class="subsection" id="aboutme">

	<h2>About Me</h2>
	<h5>I am an audio designer for film, television, and games.</h5>
	
	<p>I hold an <em>MFA in Sound Design</em> from the Savannah College of Art and Design.  My work there centered on audio for short films, animation, and sound art.  However, <em>I have a longstanding passion for video games</em>, and so I hope to find my way into that neck of the audio woods as well.</p>
	
	<p><em>My thesis work at SCAD focused on redesigning Digital Audio Workstation interfaces for post-production</em>, and how to effectively develop interaction with audio software beyond analog hardware emulation. Based on research, interviews, etc., I made several prototype designs for touch-based audio software, utilizing novel interaction paradigms.  I will continue developing my design into a functional prototype, and hopefully delve deeper into designing products for creative media-making people.</p>
	
	<h5><a title="Cutting the Cables, by Alan Koda" href="http://www.alankoda.com/download.php?file=Koda_CuttingtheCables.pdf" onClick="_gaq.push(['_trackEvent', 'Documents', 'Download', 'Thesis']);">&rarr; Download a copy of my thesis</a></h5>

</div>