<div class="subsection" id="resume">
	
	<h2>Résumé</h2>
	<p id="download"><a href="http://www.alankoda.com/download.php?file=AlanKoda_resume2012_fullgeneral.pdf" onClick="_gaq.push(['_trackEvent', 'Documents', 'Download', 'Resume']);">download pdf</a></p>
	
	<h5>Summary of Skills</h5>
		<ul>
			<li>Postproduction sound effects, foley, dialog/ADR/dubbing, mix, and sound team supervision for film, television, and games</li>
			<li>Composition, editing, and mixing for music (including music for picture)</li>
			<li>Implementation of audio, video and audio/visual control methods in Max/MSP/Jitter</li>
			<li>Pro Tools 8 certified Post Operator</li>
			<li>Visual design, graphic design, digital illustration</li>
			<li>Web design, user interaction and interface design</li>
		</ul>
		
		
	<h5>Experience</h5>
		<h3>Freelance Sound and Graphic Design</h3>
			<h4><em>(2011 &mdash; current)</em></h4>
				<ul>
					<li>Recorded production sound, designed sound assets, and mixed final soundtracks</li>
					<li>Designed posters, flyers, logos, and icons</li>
				</ul>
		<h3>Sound Recordist/Designer/Composer</h3>
			<h4>Blue Goggles Films <em>(2011 &mdash; current)</em></h4>
				<ul>
					<li>Co-owned production and postproduction sound duties for short video and webisode productions</li>
					<li>Composed original music and score</li>
				</ul>
		<h3>Virtual Assistant</h3>
			<h4>Om Freely <em>(2011 &mdash; 2012)</em></h4>
				<ul>
					<li>Managed audio assets, including editing and exporting to appropriate formats</li>
					<li>Maintained daily front-end web presence; updated daily page content and media assets</li>
				</ul>
		<h3>Web Designer</h3>
			<h4>Brown &amp; Koda Web <em>(2011 &mdash; current)</em></h4>
				<ul>
					<li>Conceptualized and designed site and page layouts; crafted brand logos and identities; generated site assets for web integration</li>
				</ul>
		<h3>Animator</h3>
			<h4>Allure Energy, Incorporated <em>(2011 &mdash; 2012)</em></h4>
				<ul>
					<li>Wrote, animated, narrated, and scored six ‘Energy Saving Tips’ videos for use with smart thermostat product</li>
				</ul>
		<h3>Team Lead, 3M-Sponsored Design Project</h3>
			<h4>Savannah College of Art and Design <em>(2011)</em></h4>
				<ul>
					<li>Led a design team to develop new concepts for touch interaction, utilizing 3M’s emerging multitouch technologies</li>
					<li>Developed collaborative multitouch picture editing concept for large multitouch hardware</li>
					<li>Illustrated concepts via mockups, scenario enaction, and demonstration videos</li>
				</ul>
		<h3>Master’s Thesis &mdash; <em>Cutting the Cables:  Developing DAWs Beyond Analog Methods</em></h3>
			<h4>Savannah College of Art and Design <em>(2011)</em></h4>
				<ul>
					<li>Analyzed past and current postproduction sound methods and workflows to pinpoint user experience issues</li>
					<li>Developed several prototypes for a novel alternative touch interaction DAW system</li>
				</ul>

			
	<h5>Notable Activities</h5>
		<h3>Quality Assurance &amp; Engineering Intern</h3>
		<h4>The Kitchen, dubbing and subtitling services <em>(September &mdash; November 2010)</em></h4>
			<ul>
				<li>Converted casting sheets into online digital cast database, allowing for quick assessment of casting needs and recording progress per episode</li>
				<li>Crafted guide for The Kitchen’s engineering process, including use of proprietary dubbing software and talent billing, for use by future interns</li>
			</ul>
		<h3>Treasurer, Professional Audio Student Organization (PASO)</h3>
		<h4>Savannah College of Art and Design <em>(2009 &mdash; 2010)</em></h4>
			<ul>
				<li>Doubled allocated funds between September and February, winning the club’s largest grant for a single proposal.</li>
				<li>Coordinated travel, accommodation, and venue arrangements for four guest lecturers – Martin Atkins, Jeff Wexler, Ed Greene, and Alexander Brandon – as well as creating all promotional material and coordinating marketing.</li>
				<li>Coordinated two-day interdepartmental event CoMotion with Motion Media club.</li>
			</ul>
		<h3>Sound Design and Math Tutor</h3>
		<h4>Savannah College of Art and Design <em>(2009 &mdash; 2010)</em></h4>
			<ul>
				<li>Tutored students in Pro Tools, production and postproduction workflow, Max/MSP/Jitter, and college algebra and geometry</li>
			</ul>
		<h3>Interactive Max/MSP Projects &mdash; various personal projects</h3>
		<h4><em>(2009 &mdash; current)</em></h4>
			<ul>
				<li>Designed interactive audiovisual systems (audio processors, audio/video sequencers, etc.); created UI for various input (keyboard, mouse, video tracking, MIDI via wifi) for live interaction</li>
			</ul>

			
			
	<h5>Awards and Honors</h5>
		<ul>
			<li>Nominee for 2012 <em>Verna Fields Award (for Secret Number)</em>, awarded by the Motion Picture Sound Editors (MPSE) for excellence in student film sound editing</li>
			<li>Nominee for 2011 <em>Verna Fields Award (for En Route)</em>, awarded by the Motion Picture Sound Editors (MPSE) for excellence in student film sound editing</li>
			<li>Recipient of <em>Artistic Achievement Award for an Outstanding Body of Work</em>, for special recognition by SCAD film department faculty at 2010 SCADemy Awards</li>
			<li>Recipient of <em>Outstanding Achievement Award</em> at 2011 SCAD Commencement</li>
			<li>First Place winner in Sound Art for ‘Videodrums’ audiovisual concept, at 2011 CoMotion Contest</li>
		</ul>
		
		
	<h5>Education</h5>
		<h3>Master of Fine Arts (MFA) in Sound Design</h4>
		<h4><em>3.9 GPA,</em> Savannah College of Art and Design, Savannah, Georgia (2011)</h3>
		
		<h3>Bachelor of Arts (BA) in Radio/Television/Film</h3>
		<h4><em>magna cum laude, 3.9 GPA,</em> University of North Texas, Denton, Texas (2007)</h4>

</div>