<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="Alan Koda, Film Post, Audio Post, Sound Post, Freelance Audio, Freelance Sound, Freelance Post Production, Effects Editor, Sound Design, Sound Designer, Sound Design Austin, Austin Post Production, Game Audio, Film Sound Design, Film Audio, Film Sound, Game Sound Design, Post Production Audio, Post Production Sound, Film Post Production" /> 
  <meta name="description" content="Professional website for Alan Koda - Sound Design for Film, Television, and Games" />
  <link rel="shortcut icon" href="assets/images/AlanKoda_Favicon.ico" />
  <link rel="apple-touch-icon" media="screen and (resolution: 163dpi)" href="/link/to/iOS-57px.png" />
  <link rel="apple-touch-icon" media="screen and (resolution: 132dpi)" href="/link/to/iOS-72px.png" />
  <link rel="apple-touch-icon" media="screen and (resolution: 326dpi)" href="/link/to/iOS-114px.png" />

  <title>Alan Koda • Audio &amp; Design for Media</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- <%= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
  <%= csrf_meta_tags %>

  <script src="http://widgets.twimg.com/j/2/widget.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24890951-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>


			<script type="text/javascript">
				$(document).ready(function() {

				/* This is basic - uses default settings */

				$("a.lightbox").fancybox();

				});

			});
			</script>




</head>